*{
    margin: 0;
    padding: 0;
}



body{
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*===== HEADER ==== */

header{
    position: relative;
}

.menuNav{
    height: 100px;
    z-index: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar-toggler{
background-color: white;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 6px 6px rgb(14, 91, 145);
}

.carouselTitle{
    text-align: center;
    font-weight: bold;
    color: white;
    opacity: 100%;
}

.carrouselImg{
    height: auto;
    width: 100%;
}

.carrouselImg img{
    height: 100%;
    width: 100%;
    opacity: 50%;
    
}

/*==== Seleccion del tipo de bebida ===== */

.selectType{
    margin: 50px 20px 50px 20px;
}

.tituloSelecBebida h2{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    color: white;
}

.bebidas{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
    "aperitivos sinAlcohol cervezas"
    "blancas vinos energ"
}

.bebidas img{
height: 100%;
width: 100%;
}

.bebidas .sinAlcohol{
    grid-area: sinAlcohol;
    height: 300px;
    object-fit: cover;
}

.bebidas .vinos{
    grid-area: vinos;
    height: 300px;
    object-fit: cover;
}
.bebidas .cervezas{
    grid-area: cervezas;
    height: 300px;
}
.bebidas .energ{
    grid-area: energ;
    height: 300px;
}
.bebidas .blancas{
    grid-area: blancas;
    height: 300px;
}
.bebidas .aperitivos{
    grid-area: aperitivos;
    height: 300px;
}

.bebidas .sinAlcohol:hover{
    opacity: 75%;
}

.bebidas .vinos:hover{
    opacity: 75%;
}
.bebidas .cervezas:hover{
    opacity: 75%;
}
.bebidas .energ:hover{
    opacity: 75%;
}
.bebidas .blancas:hover{
    opacity: 75%;
    background-color: rgba(255, 255, 255, 0.332);
}
.bebidas .aperitivos:hover{
    opacity: 75%;
}

.tipoBebida{
    position: relative;
}


.descripcion{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -40%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 6px 6px rgb(7, 7, 7);
    background-color: rgba(46, 41, 41, 0.496);
    text-align: center;
    font-size: 40px;
}

/* Formulario de Contacto */

.titleForm{
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    text-decoration: underline;
}

.formContacto{
    margin: 30px 20px 30px 20px;
    background-color: rgba(34, 34, 51, 0.629);
    box-shadow: 10px 4px 15px rgb(205, 202, 202);
}

.form-label{
    color: white;
    font-weight: bold;
}

.botones{
    margin-top: 20x;
    margin-bottom: 20px;
}

.botones button{
    width: 100px;
}

/*=========== FOOTER ========= */

#footer {
    background-color: #58585bcd;
    color: rgba(255, 255, 255, 0.989);
    border: #e5e8e8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  
  .filaUno {
    border-bottom: #000 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
  
  .logoDireccion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; }
    .logoDireccion .titulo {
      font-size: 1.3rem; }
    .logoDireccion p {
      margin: 10px 10px 10px 10px; }
  
  .seguinos {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .seguinos img {
      margin-left: 10px;
      height: 20px;
      width: 20px; }
  
  .filaDos {
    margin: 15px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .filaDos p {
      margin-left: 10px; }
  
  .logosTarjetas {
    margin-right: 10px; }
    .logosTarjetas img {
      margin-left: 5px;
      width: 25px;
      height: 25px; }
  
  /* FOOTER */
  @media (max-width: 700px) {
    .filaUno {
      font-size: 1.4rem;
      width: auto;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .filaUno .titulo {
        font-size: 1.4rem; }
    .filaDos {
      font-size: 1.4rem;
      width: auto;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .titulo {
      font-size: 5vw; } }
  
  @media (max-width: 300px) {
    .logoDireccion {
      flex-direction: column; }
    .filaUno {
      font-size: 1.1rem; }
    .filaDos {
      font-size: 1.1rem; }
    .titulo {
      font-size: 1.1rem; } }