* {
    margin: 0;
    padding: 0;
}



body {
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/*===== HEADER ==== */

.linkLogo img {
    height: 100px;
}

.menuNav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    background-color: black;
}

.navbar-toggler {
    background-color: white;
    color: black;
    height: 50px;
    width: 70px;
}

.carritoCompras img {
    height: 50px;
}

#carousel {
    z-index: 1;
    height: 83vh;
}

.carrouselImg img {
    height: 83vh;
    opacity: 50%;
    object-fit: cover;
}

/* =============== MAIN ================= */

/*==== Seleccion del tipo de bebida ===== */



/*=========== FOOTER ========= */

#footer {
    background-color: #58585bcd;
    color: rgba(255, 255, 255, 0.989);
    border: #e5e8e8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filaUno {
    border-bottom: #000 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logoDireccion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.logoDireccion .logoFooter img {
    height: 100px;
}

.logoDireccion p {
    margin: 10px 10px 10px 10px;
}

.seguinos {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.seguinos img {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.filaDos {
    margin: 15px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filaDos p {
    margin-left: 10px;
}

.logosTarjetas {
    margin-right: 10px;
}

.logosTarjetas img {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

/* FOOTER */
@media (max-width: 700px) {
    .filaUno {
        font-size: 1.4rem;
        width: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filaUno .titulo {
        font-size: 1.4rem;
    }

    .filaDos {
        font-size: 1.4rem;
        width: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo {
        font-size: 5vw;
    }
}

@media (max-width: 300px) {
    .logoDireccion {
        flex-direction: column;
    }

    .filaUno {
        font-size: 1.1rem;
    }

    .filaDos {
        font-size: 1.1rem;
    }

    .titulo {
        font-size: 1.1rem;
    }
}


/*================== TIENDA ================== */

#main {
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/*===== CARDS ===== */

.card {
    width: 350px;
    padding: 0;
    margin: 20px;
    box-shadow: 6px 2px 10px rgb(205, 202, 202);
    color: white;

}

.cardText {
    background-color: rgb(11, 11, 11);
}

.cardText p {
    font-size: 1.1rem;
}

.divImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgCard {
    height: 300px;
    object-fit: cover;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardBody-comprar {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width:1000px) {

    .cardsBebidas{
        justify-content: center;
    }

    .card {
        width: 80%;
        object-fit: cover;
    }
}